<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--/*/ <th:block th:include="@{fragments/common}::head(${title})"></th:block> /*/-->
<body>
<!--/*/ <th:block th:include="@{fragments/common} :: navigation"></th:block> /*/-->


<!-- region: All Students Information -->

<div class="container">
    <h2 class="text-center">Assign Students In Department</h2>
    <div class="card">
        <div class="card-body">
            <div class="col-md-12">
                <!------------------------- Student Info Table ------------------------>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Department</th>
                        <th>Action</th>
                    </tr>
                    </thead>

                    <tbody>
                    <th:block th:each="student:${studentDtoList}">
                        <tr>
                            <td th:text="${student.studentId}"></td>
                            <td th:text="${student.studentName}"></td>

                            <td th:text="${student.age}"></td>
                            <td th:text="${student.departmentDto.departmentCode}"></td>
                            <td>
                                <a th:href="@{'/student/update/'+${student.studentId}}">Update</a>


                                <a  th:href="@{'/student/delete/'+${student.studentId}}">Delete</a>
                            </td>
                        </tr>
                    </th:block>
                    </tbody>

                </table>
                <!------------------------- Add New Student -------------------------->
                <div class="border border-dark p-3 mb-2">
                    <div class="text-center">
                        <a class="btn" th:href="@{/student/add/}">
                            <i class="fa fa-user-plus" style='font-size:25px'></i>
                            Add New Student
                            <i class="fa fa-user-plus" style='font-size:25px'></i>
                        </a>
                    </div>
                </div>
                <!-------------------------------------------------------------------->

            </div>
        </div>
    </div>
</div>

<!-- endregion -->


</body>
</html>
