<html xmlns:th="http://www.w3.org/1999/xhtml">
<!------------------------------------------------- Title, Bootstrap --------------------------------------------------->
<head th:fragment="head(title='')">
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <link rel="stylesheet" th:href="@{/bootstrap/bootstrap.min.css}">
</head>

<!------------------------------------------------- Navigation Bar --------------------------------------------------->
<div th:fragment="navigation" class="border border-dark p-3 mb-2">
    <div class="p-3 mb-2 bg-dark text-white">
        <a class="btn" th:href="@{/student/getAll/}">Get All Student</a>
        <a class="btn" th:href="@{/student/add/}">Add New Student</a>
        <a class="btn" th:href="@{/department/add/}">Add New Department & Show All</a>
        <a class="btn" th:href="@{/department/assign-student//}">Assign Student in Department</a>
        <a class="nav-link" th:href="@{/subject/add/}">Subject</a>
    </div>
</div>

</html>


<!------------------------------------------------- Add To View Page ----------------------------------------------->
<!--/*/ <th:block th:include="@{fragments/common}::head(${title})"></th:block> /*/-->

<!--/*/ <th:block th:include="@{fragments/common} :: navigation"></th:block> /*/-->