<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<!--/*/ <th:block th:include="@{fragments/common}::head(${title})"></th:block> /*/-->
<body>
<!--/*/ <th:block th:include="@{fragments/common} :: navigation"></th:block> /*/-->

<!-- region: Assign Students In Department form -->
<div class="container">
    <h2 class="text-center">Assign Students In Department</h2>

    <form th:action="@{/department/assign}" th:object="${departmentDto}" method="post" class="form-control">

        <!----------------------------------------------------------------->
        Department:
        <select th:field="*{departmentId}" class="form-control" required>
            <option th:each="department : ${departmentDtoList}"
                    th:value="${department.departmentId}"
                    th:text="${department.departmentCode}">
            </option>
        </select><br>
        <!----------------------------------------------------------------->
        Student List: -------------------------------------------(OneToMany)
        <select th:field="*{studentIdList}" class="form-control" multiple>
            <option th:each="student : ${studentDtoList}"
                    th:value="${student.studentId}"
                    th:text="${student.studentName}">
            </option>
        </select><br>

        <!------------------------------- Button ---------------------------------->
        <div class="col-md-12 text-right">
            <button class="btn btn-primary" type="submit">Assign In Department</button>
        </div>
    </form>
</div>

<!-- endregion-->


</body>
</html>
